<div class="row articlesRow offset">

    {{#each article}}
    <div class="card-columns text-center col-sm-4 d-flex align-items-stretch"
        style="padding-bottom:100px;">


        <div class="card mx-auto" style="width: 18rem;">
            <img src="{{picture}}" class="card-img-top" alt="News related picture">
            <div class="card-body">
                <h4 class="card-title">{{headline}}</h4>
                <p class="card-text">{{summary}}<br>{{snippet}}</p>
                <a href="{{url}}" class="btn btn-primary">Read Article</a>
                <a href="/articles/{{_id}}" data-id="{{_id}}" id='saveNote'>Article Notes</a>
            </div>
        </div>


    </div>
    {{/each}}

</div>